.container{
    margin-top: 80px;
    width: 400px;
    height: 400px;
    display: flex;
    flex-wrap: wrap;
    gap: 1px;
}

.col{
    width: 99px;
    height: 99px;
    display: flex;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(240, 248, 255, 0.523);
}

.green_box{
    width: 100%;
    height: 100%;
    background-color: rgb(59, 229, 59);
}

